
  
  #history {
    background-color: #b40404; /* Red Hot Chili Peppers color */
    color: #fff; /* White text color */
    padding: 20px;
  }
  
  #history h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  #history p {
    font-size: 18px;
    line-height: 1.5;
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
  }
  
  /* Animation */
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  #history {
    background-color: #b40404; /* Red Hot Chili Peppers color */
    color: #fff; /* White text color */
    padding: 20px;
  }
  
  #history h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  #history p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  .hidden {
    display: none;
  }